.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

  form#smileys input[type="radio"] {
    -webkit-appearance: none;
    width: 45px;
    height: 45px;
    border: none;
    cursor: pointer;
    transition: border .2s ease;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    margin: 0 5px;
    transition: all .2s ease;
  }
  form#smileys input[type="radio"]:hover, form#smileys input[type="radio"]:checked {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
  form#smileys input[type="radio"]:focus {
    outline: 0;
  }
  form#smileys input[type="radio"].happy {
    background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/happy_ampvnc.svg") center;
    background-size: cover;
  }
  form#smileys input[type="radio"].neutral {
    background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/neutral_t3q8hz.svg") center;
    background-size: cover;
  }
  form#smileys input[type="radio"].sad {
    background: url("https://res.cloudinary.com/turdlife/image/upload/v1492864443/sad_bj1tuj.svg") center;
    background-size: cover;
  }
  
  .mtt {
    position: fixed;
    bottom: 10px;
    right: 20px;
    color: #999;
    text-decoration: none;
  }
  .mtt span {
    color: #e74c3c;
  }
  .mtt:hover {
    color: #666;
  }
  .mtt:hover span {
    color: #c0392b;
  }


  /* Profile Chips */
  .chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }


  /* Notification Pop-up